<div class="home">
  <div class="form-group row">
    <div class="col-sm-8 col-md-9">
      <h3 class="clearfix">
        Jobs

        <a href="javascript:" ng-click="reloadLists()">
          <span class="glyphicon glyphicon-refresh glyphicon-{{states.workinstancesLoad || states.worksLoad ? 'spin' : 'spinner'}}"></span>
        </a>

        <div class="pull-right">
          <small>{{states.filter.WorkInstance['@sorter'].timestamp ? 'New' : 'Old'}} job comes first</small>

          <div class="btn-group" style="margin: 0 0 5px 5px;">
            <button type="button" class="btn btn-default"
              ng-class="{ active: !states.filter.WorkInstance['@sorter'].timestamp }"
              ng-click="states.filter.WorkInstance['@sorter'].timestamp = 0">
              <span class="glyphicon glyphicon-arrow-up"></span>
            </button>
            <button type="button" class="btn btn-default"
              ng-class="{ active: states.filter.WorkInstance['@sorter'].timestamp }"
              ng-click="states.filter.WorkInstance['@sorter'].timestamp = 1">
              <span class="glyphicon glyphicon-arrow-down"></span>
            </button>
          </div>
        </div>
      </h3>
    </div>

    <div class="col-sm-4 col-md-3 text-right">
      <div class="input-group">
        <input id="txtJobSearch" type="text" class="form-control" placeholder="⌘ + / to search"
          ng-model="states.txtJobSearch"/>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-search"></span>
        </span>
      </div>
    </div>
  </div>

  <p class="lead text-center" ng-if="!works.length &amp;&amp; !workinstances.length">
    You have no jobs yet.
  </p>

  <div class="row">
    <div class="work">
      <div class="instance create col-sm-6 col-md-4 col-lg-3"
        ng-repeat="$work in works | filter:{name:states.txtJobSearch} | infiniteLoad:states.listThreshold[0]:lengthenWorks ">
        <div class="thumbnail"
          ng-style="{ 'background-image': 'url(' + ($work.background_image || '/assets/images/work-blank.jpg') + ')' }">
          <div class="caption">
            <h5 class="text-muted">
              <span ng-if="$work.icon" class="{{$work.icon}}"></span> {{ $work.name }}
            </h5>

            <ol class="task-list">
              <li class="inactive" ng-repeat="$task in $work.tasks | limitTo:4">{{$task.extra.name || $task.name}}</li>
              <li class="extended" ng-if="$work.tasks.length > 4">...</li>
            </ol>

            <div class="text-center control-group">
              <a href="/task/new/{{$work.uuid}}" class="btn btn-success btn-sm btn-round">Create</a>
            </div>
          </div>
        </div>
      </div>

      <div class="instance col-sm-6 col-md-4 col-lg-3"
        ng-repeat="$item in workinstances | filter:{description: states.txtJobSearch} | infiniteLoad:states.listThreshold[0]:lengthenInstances ">
        <div class="thumbnail" ng-style="{ 'background-image': 'url(' + ($item.background_image || '/assets/images/work-blank.jpg' ) + ')' }">
          <div class="caption">
            <small class="text-muted"><span ng-if="$item.icon" class="{{$item.icon}}"></span> {{$item.name}}</small>

            <h5>{{$item.description}}</h5>

            <ol start="{{$item.__nextIndex > 1 ? $item.__nextIndex - 1 : ''}}"
                class="task-list"
                ng-if="!$item.lastError">
              <li class="extended" ng-if="$item.__nextIndex > 1">...</li>

              <li ng-repeat="($index, $task) in $item.tasks | limitTo:$item.__tasksLength:$item.__tasksBegin"
                  ng-class="{ active: $item.__nextIndex == $index + $item.__tasksBegin
                            , finished: $item.__nextIndex > $index + $item.__tasksBegin
                            , inactive: $item.__nextIndex < $index + $item.__tasksBegin
                            }">
                <span>{{$task.extra.name || $task.name}}</span>
              </li>

              <li class="extended" ng-if="$item.tasks.length > $item.__tasksBegin + $item.__tasksLength">...</li>
            </ol>

            <ol class="task-list" ng-if="$item.lastError" start="{{$item.__nextIndex + 1}}">
              <li class="active">
                <span>{{$item.__nextTask.extra.name || $item.__nextTask.name}}</span>
                <p class="text-danger">
                  <i class="glyphicon glyphicon-exclamation-sign"></i>
                  {{$item.lastError.message}}
                </p>
              </li>
            </ol>

            <div class="text-center control-group" ng-if="$item.__nextTask.type != 'Headless'">
              <a href="/task/{{$item.nextTask}}" class="btn btn-info btn-sm btn-round">View</a>
            </div>
          </div>
        </div>

        <div class="text-right text-muted">
          <small title="{{$item.timestamp | date:'dd MMM, yyyy \'at\' H:mm'}}">
            <em>Updated {{$item.timestamp | timeAgo}}</em>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
